[submodule "grammars-v4"]
	path = grammars-v4
	url = https://github.com/DenArto/grammars-v4
	branch = PlSql_rules
[submodule "antlr4"]
	path = antlr4
	url = https://github.com/DenArto/antlr4
	branch = rewriter_performance
